<!DOCTYPE html>
<html>
<head>
    <title>Home Automation {% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body class="bg-secondary">
<div class="container-fluid p-5 bg-primary text-light text-center">
    <h1>Home automation</h1>
    <p class="text-warning">Don't worry, be happy.</p>
</div>

<div class="container mt-5 bg-light">
    <div class="row">
        <div class="col-sm-12">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

</body>
</html>